.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body{
    background-color: #042f5b;
    margin: 0;

}

h1 {
    margin: 30px;
    font-family: "Lobster " , cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: aqua;
    text-align: center;
}

p {
    font-size: 2rem;
    color: aqua;
    font-family: "indie Flower", cursive;
}

img {
    width: 100%;
}

.buttom {
    padding-top: 30px;
}

.btn{
    background: aqua;
    font-family: "indie Flower", cursive;
    border-radius: 7px ;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.btn:hover {
    background: #232931;
    text-decoration: none;
}

.even-roll {
    transition: transform 1.5s ease-in-out;

}

.odd-roll {
    transition: transform 1.25s ease-out;
}